#task{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#label{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#editorBody{
    margin-bottom: 3rem;
}
.btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
